.Container5{
   background-color:  rgba(5, 7, 48, 0.9);
   width: 100%;
   height: 1000px;
   margin: auto;
}
.manage__text1{
    /* Manage your money from anywhere */

height: 108px;
width: 456px;
font-style: normal;
font-weight: 400;
font-size: 40px;
line-height: 54px;
/* or 135% */

color: #FFFFFF;


}
.manage__text2{
    /* Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare. */

height: 60px;
width: 617px;
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 30px;
/* or 250% */

color: #FFFFFF;


}
.manage__card{
    display: flex;
    justify-content: center;
}
.manage__text3{
    /* Benefit description */

height: 20px;

font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 20px;
/* identical to box height, or 100% */

color: #FFFFFF;


}
.manage__text4{
    /* Suspendisse varius enim in eros elementum tristique. Duis cursus. */

height: 48px;
font-style: normal;
font-weight: 400;
font-size: 11px;
line-height: 24px;
/* or 218% */

color: #FFFFFF;
width: 269px;

}
.manage__card1{
    display: flex;
    gap: 30px;
    margin-top: 30px;
}
.manage__btn{
    /* Frame */

height: 48px;
width: 184px;
background-color: aqua;
border-radius: 30px;
margin-top: 70px;
color: #FFFFFF;
text-align: center;
}