.Container3{
   background-color:  rgba(5, 7, 48, 0.9);
   width: 100%;
   height: 800px;
   margin: auto;
   margin-top: -33px;
}
.finance__text1{
    /* New crypto finance app */

width: 422px;
height: 54px;
left: calc(50% - 422px/2);
top: 150px;
margin-left: 550px;
font-style: normal;
font-weight: 400;
font-size: 40px;
line-height: 54px;
/* identical to box height, or 135% */
text-align: center;

color: #FFFFFF;

text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

}
.finance__text2{
    /* Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat. Aenean faucibus nibh et justo cursus id rutrum lorem imperdiet. Nunc ut sem vitae risus tristique posuere. */

width: 699px;
height: 120px;
margin-left: 400px;
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 30px;
/* or 167% */
text-align: center;

color: #FFFFFF;


}

.finance__cards{
    display: flex;
    gap: 70px;
    align-items: center;
justify-content: center;
margin-top: 60px;
}
.finance__card1{
       align-items: center;
justify-content: center;
text-align: center;
}
.finance__text3{
    /* Benefit description */

width: 200px;
height: 20px;

font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 20px;
/* identical to box height, or 100% */

color: #FFFFFF;
margin-left: 35px;

}

.finance__text4{
    /* Suspendisse varius enim in eros elementum tristique. Duis cursus. */

width: 289px;
height: 48px;
font-style: normal;
font-weight: 400;
font-size: 11px;
line-height: 24px;
/* or 218% */
text-align: center;

color: #FFFFFF;


}

.finance__text5{
    /* Learn more */

height: 20px;
left: 0.33%;

font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 20px;
/* identical to box height, or 111% */

color: #159BE8;


}