.Container1{
   background-color:  rgba(5, 7, 48, 0.9);
   width: 100%;
   height: 70px;
   margin: auto;
}
.nav{
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 0 20px;

}
ul{
   display: flex;
   gap: 50px;
   margin-left: 500px;
}

li{

   list-style: none;
   text-decoration: none;
}
a{
   color: white;
 list-style: none;
   text-decoration: none;
}
.nav__btn{

   background-color: transparent;
   color: white;
   border-radius: 2px solid white;
   width: 100px;
   height: 40px;
   border-radius: 20px;
}