.Container4{
   background-color:  rgba(5, 7, 48, 0.9);
   width: 100%;
   height: 1150px;
   margin: auto;
   margin-top: -27px;
}

.landing__text1{
    /* A perfect landing page to help launch your app */

width: 666px;
height: 108px;
left: calc(50% - 666px/2);
top: 28px;

font-family: 'League Spartan';
font-style: normal;
font-weight: 400;
font-size: 40px;
line-height: 54px;
/* or 135% */
text-align: center;

color: #FFFFFF;

margin-left: 420px;
}
.landing__text2{
    /* Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare, eros dolor interdum nulla. */

width: 699px;
height: 60px;
left: calc(50% - 699px/2 + 0.5px);
top: 144px;

font-family: 'League Spartan';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 30px;
/* or 250% */
text-align: center;

color: #FFFFFF;
margin-left: 400px;

}

.landing__card{
    display: flex;
    justify-content: center;
    margin-top: 60px;
}
.landing__text3{
    /* Suspendisse varius enim in eros elementum tristique. Duis cursusSuspendisse varius enim in eros elementum tristique. Duis cursus. */

width: 339px;
height: 72px;
margin-top: 50px;
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
/* or 150% */
text-align: right;

color: #FFFFFF;

}
.landing__text4{
    
    
width: 339px;
height: 72px;
margin-top: 50px;
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
/* or 150% */
text-align: left;
color: #FFFFFF;
}