.Container2{
   background-color:  rgba(5, 7, 48, 0.9);
   width: 100%;
   height: 900px;
   margin: auto;
}
.intro__text1{
    /* The crypto portfolio app that makes you smile. Every day. */

height: 228px;
left: -0.06%;
right: 12.15%;
top: 28.31px;
margin-left: 60px;
margin-top: 60px;
font-family: 'League Spartan';
font-style: normal;
font-weight: 400;
font-size: 64px;
line-height: 76px;
/* or 119% */
width: 557px;
color: #FFFFFF;


}

.intro__text2{
    /* Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare, eros dolor. */

margin-left: 60px;
font-family: 'League Spartan';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 30px;
/* or 250% */
margin-top: -600px;
width: 617px;
color: rgb(255, 255, 255);


}
.intro__flex{
    display: flex;
}
.intro__img{
    margin-left: 300px;
}
.intro__img3{
    margin-left: 300px;
        width: 30px;
     height: 30px;
}
.intro__img2{
     width: 50px;
     height: 30px;
}
.intro__text3{
    color: white;

}
.intro__text4{
    color: white;
}
.intro__appstore{
    display: flex;
    border: 1px solid black;
    width: 140px;
    gap: 1px;
    background-color: black;
    border-radius:10px;
    align-items: center;
    height: 40px;
    margin-top: 5px;
}
.intro_btnss{
    display: flex;
    margin-top: 10px;
    margin-left: 60px;
}
