.Container7{
   background-color:  rgba(5, 7, 48, 0.9);
   width: 100%;
   height: 1200px;
   margin: auto;
   margin-top: -882px;
}
.backed__card1{
    margin-top: 100px;
    gap: 50px;
}
.backed__text1{
    /* the best crypto App */

width: 187px;
height: 20px;
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 20px;
/* identical to box height, or 111% */
text-align: center;
text-transform: uppercase;
color: #159BE8;
margin-left: 678px;
}
.backed__text2{
    /* Backed by the biggest names in the industry */

width: 623px;
height: 108px;
margin-left: 450px;
font-style: normal;
font-weight: 400;
font-size: 40px;
line-height: 54px;
/* or 135% */
text-align: center;

color: #FFFFFF;


}
.backed__logos{
    margin-left: 40px;
    align-items: center;
    justify-content: center;
    display: flex;
    gap: 60px;
}
.backed__cards{

    display: flex;
    justify-content: center;
    gap: 50px;
    margin-top:100px ;

}
.backed__text3{
    /* Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat. Aenean faucibus nibh et justo cursus id rutrum lorem imperdiet. Nunc ut sem vitae risus tristique posuere. */

height: 240px;
width: 288px;
font-style: normal;
font-weight: 400;
font-size: 17px;
line-height: 30px;
/* or 176% */

color: #FFFFFF;


}

.backed__text4{
    /* Jason Renolds */

height: 20px;

font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 20px;
/* identical to box height, or 111% */

color: #FFFFFF;


}
.backed__text5{
    /* Verified Customer */

height: 16px;

font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 16px;
/* identical to box height, or 114% */

color: #FFFFFF;


}
.backed__card1{
    display: flex;
}